/* Style for Blue Robotics Guide Plugin */

/*.affix {
	top: 75px;
} */

.affix {
    position: static;
    width:100%;
    display: none;
}

@media (min-width: 768px) {
  .affix {
    position: fixed;
    top:75px;
    display: inherit;
  }

  .affix-bottom {
    position: relative;
    width: 100%;
    bottom: 0px;
  }
}

@media (min-width: 992px) {
  .affix {
    position: fixed;
    top:75px;
    display: inherit;
  }

  .affix-bottom {
    position: relative;
    width: 100%;
    bottom: 0px;
  }
}

.list-group a:link, 
.list-group a:visited, 
.list-group a:hover, 
.list-group a:active {
	color: #2699D0;
}

.list-group strong {
	color: #666;
}

.listnav .list-group-item.nav-link {
	padding: 0px;
}

.listnav .active,
.listnav .active:hover {
	background: #2699d0;
	color: white;
}

.listnav .active a,
.listnav .active a:hover {
	color: white;
}

.listnav .anchor {
	font-size:0.6em;
	color:#aaa;
}

h1 .anchor,
h2 .anchor {
	font-size:0.6em;
	color:rgba(0,0,0,0);
}

h1:hover .anchor,
h2:hover .anchor {
	color:#2699d0;
}

h1.anchor-heading {
	padding-top: 60px; 
	margin-top: -40px;
}

.guide-image-wrapper {
	padding-top:10px;
	padding-bottom:20px;
}

.img-guide {
	max-width: 90% !important;
	max-height: 35em; 
}

.img-guide-archive {
	/*border: #ddd solid 1px;*/
}

.guide-image-caption {
	font-size:0.9em;
	color: #999;
	padding-top: 5px;
}

.guide-product-featured {
	max-width:350px;
	text-align:center;
	margin-left: auto;
    margin-right: auto;
}

.guide-product-featured ul.products li.product {
	margin: 0 1em 1em 0 !important;
}

.guide-product ul.products li.product {
	margin: 0 1em 1em 0 !important;
}

.guide-card-wrapper {
	height: 450px;
	margin-bottom: 20px;
}

.guide-card-thumbnail-wrapper {
	border: #ddd solid 1px;
}

.guide-card-row {
	margin-top:15px;
}

.list-group-item.tags {
	padding-bottom: 5px;
}

.list-group-item .label {
	display: inline-block;
	margin-bottom:5px;
	line-height: inherit;
}

.list-group-item .label:hover {
	background: #2A6496;
}

.list-group-item .label-primary a {
	color: white;
	font-weight: 600;
	text-decoration: none;
}

.btn-guide {
	font-weight: 600 !important;
}

.btn-guide:visited {
	color:white !important;
}

pre.guide-code {
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: rgba(38,153,208,0.2);
}